nav {
  background-color: #008000;
  padding: 1rem;
}

nav a {
  color: #fff;
  background-color: #007000;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
}

nav img {
  height: 10%;
  width: 15%;
}
