#codeAreaContainer {
    flex: 1;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

#codeArea {
    flex: 1;
    padding: 10px;
    border: 1px #000;
    height: fit-content;
    border-radius: 14px;
    box-sizing: border-box;
    font-family: monospace;
    resize: none; /* remove the annoying resize thingy */
}
